.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.btn button {
  margin: 2px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2em;
}

.loading {
  position: absolute;
  top: 45%;
  left: 45%;
}

.unsaved {
  display: inline-block;
  background-color: #cccccc;
  padding: 10px;
  margin: 20px 0;
  border: 3px dotted black;
}

.cntr {
  display: flex;
  justify-content: center;
}
