<h1>Admin View Panel</h1>

<div class="btn">
  <button mat-raised-button color="primary" (click)="backToPreviousPage()">
    back
  </button>
</div>

<interview-card
  [interview]="interview"
  [viewOnlyMode]="true"
  (goingLive)="liveInterview($event)"
  (privacyMode)="privacyMode($event)"
  (chatMode)="chatMode($event)"
></interview-card>

<candidate-card
  *ngFor="let candidate of candidates"
  [candidate]="candidate"
  [isAdminLiveCard]="true"
  (interviewDone)="updateCandidateStatus($event)"
  (delayChanged)="addDelayToCandidate($event)"
></candidate-card>
