<mat-form-field>
  <mat-label>Rank</mat-label>
  <input
    required
    type="number"
    matInput
    cdkFocusInitial
    [(ngModel)]="data.candidate.rank"
  />
</mat-form-field>

<mat-form-field>
  <mat-label>Name</mat-label>
  <input
    required
    type="text"
    autocomplete="off"
    matInput
    [(ngModel)]="data.candidate.name"
  />
</mat-form-field>

<mat-form-field>
  <mat-label>Scheduled Time</mat-label>
  <input 
    required
    type="time"
    matInput
    [(ngModel)]="data.candidate.scheduledTime" />
</mat-form-field>

<div mat-dialog-actions>
  <button 
    mat-button 
    [mat-dialog-close]="{ candidate: data.candidate }" 
    [disabled]="!data.candidate.rank || !data.candidate.name || !data.candidate.scheduledTime">
    OK
  </button>

  <button 
    mat-button 
    (click)="cancel()">
    Cancel
  </button>
</div>
