<div *ngIf="interview">
  <div class="header">
    <h2>{{ interview.name }} ({{ interview.date.toDate() | date: 'dd/MM/yyyy' }})</h2>
    <h3>Starting At: {{ interview.startTime }}</h3>
  </div>

  <div *ngIf="!interview.live" class="card-block">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title
          >We are not LIVE with the interview. Please wait...</mat-card-title
        >
        <mat-card-subtitle>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="item-list" *ngIf="interview.live">
    <candidate-list
      [interviewId]="interviewId"
      [candidateId]="candidateId"
      [privacyMode]="interview.privacy"
    ></candidate-list>
  </div>

  <div *ngIf="interview.chat && openChatWindow" class="chat-icon">
    <!-- <mat-icon (click)="showChat()">chat</mat-icon> -->
    <button mat-fab color="primary" aria-label="Show Chats" (click)="showChat()">
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <div class="wrapper" *ngIf="interview.chat && !openChatWindow">
    <nav class="nav" id="nav">
      <div class="default-nav">
        <div class="main-nav">
          <div>
            <p class="chat-header">{{ interview.name }}</p>
          </div>
          <mat-icon class="options" (click)="showChat()">cancel</mat-icon>
        </div>
      </div>
    </nav>

    <div class="inner" id="inner">
      <div class="chat-content" id="content">
        <div *ngFor="let chat of chats">
          <div class="message-wrapper" [ngClass]="chat.senderType">
            <div class="circle-wrapper"></div>
            <div class="text-wrapper">{{ chat.text }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom" id="bottom">
      <textarea class="input" id="input" [(ngModel)]="chatText"></textarea>
      <!-- <div class="send" (click)="sendChat()"><mat-icon color="primary">send</mat-icon></div> -->
      <button mat-fab color="primary" aria-label="Send Chat" (click)="sendChat()" class="send-fab">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
