<mat-card class="item">
  <div class="card-content" *ngIf="interview">
    <h3><label>Position: </label>{{ interview.name }}</h3>
    <p><label>Date: </label>{{ interview.date.toDate() | date: 'dd/MM/yyyy' }}</p>
    <p><label>Start Time (24 hr): </label>{{ interview.startTime }}</p>
    <p><label>Interview ID: </label>{{ interview.id }}</p>
  </div>
  <div class="card-action" *ngIf="!viewOnlyMode">
    <button
      matTooltip="live display"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      aria-label="Live Display"
      (click)="viewInterview(interview)"
      class="btn-blue"
    >
      <mat-icon>live_tv</mat-icon>
    </button>

    <button
      matTooltip="edit interview"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      aria-label="Edit Schedule"
      (click)="editInterview(interview)"
      class="btn-blue"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      matTooltip="delete interview"
      matTooltipPosition="above"
      mat-icon-button
      color="primary"
      aria-label="Delete Schedule"
      (click)="deleteInterview(interview.id)"
      class="btn-red"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <div class="btn-badge" *ngIf="interview.candidates">
      <mat-icon
        matTooltip="total candidates"
        matTooltipPosition="above"
        matBadge="{{ interview.candidates }}"
        matBadgeColor="accent"
        >people
      </mat-icon>
    </div>
  </div>

  <div class="card-action" *ngIf="viewOnlyMode && interview">
    <div class="toggle-btn">
      <mat-icon
        class="toggle-icon"
        aria-hidden="false"
        aria-label="interview live button"
        >{{ liveIcon }}</mat-icon
      >
      Go Live
      <mat-slide-toggle
        matTooltip="go live with interview"
        matTooltipPosition="above"
        (click)="toggleLiveMode(interview.id, interview.live)"
        [color]="color"
        [checked]="interview.live"
        [disabled]="disabled"
      >
      </mat-slide-toggle>
    </div>
    <div class="toggle-btn">
      <mat-icon
        class="toggle-icon"
        aria-hidden="false"
        aria-label="interview live button"
        >{{ chatIcon }}</mat-icon
      >
      Chat
      <mat-slide-toggle
        matTooltip="turn chat for interview"
        matTooltipPosition="above"
        (click)="toggleChat(interview.id, interview.chat)"
        [color]="color"
        [checked]="interview.chat"
        [disabled]="disabled"
        >
      </mat-slide-toggle>
    </div>
    <div class="toggle-btn">
      <mat-icon
        class="toggle-icon"
        aria-hidden="false"
        aria-label="interview live button"
        >{{ privacyIcon }}</mat-icon
      >
      Privacy Mode
      <mat-slide-toggle
        matTooltip="turn on privacy mode"
        matTooltipPosition="above"
        (click)="togglePrivacy(interview.id, interview.privacy)"
        [color]="color"
        [checked]="interview.privacy"
        [disabled]="disabled"
        >
      </mat-slide-toggle>
    </div>
  </div>
</mat-card>
