<mat-card class="item">
  <div class="card-content">
    <h3><label>Position: </label>{{ interview.name }}</h3>
    <p><label>Date: </label>{{ interview.date }}</p>
    <p><label>Start Time (24 hr): </label>{{ interview.startTime }}</p>
    <p><label>Interview ID: </label>{{ interview.id }}</p>
  </div>
  <div class="card-action" *ngIf="!viewOnlyMode">
    <button
      matTooltip="live display"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      aria-label="Live Display"
      (click)="viewInterview()"
      class="btn-blue"
    >
      <mat-icon>live_tv</mat-icon>
    </button>

    <button
      matTooltip="edit interview"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      aria-label="Edit Schedule"
      (click)="editInterview()"
      class="btn-blue"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      matTooltip="delete interview"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      aria-label="Delete Schedule"
      (click)="deleteInterview()"
      class="btn-red"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
