.item {
  width: 380px;
  margin: 10px 0;
}

.card-content {
  display: inline-grid;
  width: 299px;
}

.card-action {
  display: inline-grid;
  width: 80px;
  justify-content: center;
  border-left: 1px black solid;
}

p {
  margin: 8px 0;
}

.btn-blue {
  color: #303f9f;
}

.btn-red {
  color: #ad1457;
}

.btn-badge {
  display: flex;
  align-items: center;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
}

.toggle-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
