.item {
  width: 380px;
  margin: 10px;
}

.card-content {
  display: inline-grid;
  width: 299px;
}

.card-action {
  display: inline-grid;
  width: 80px;
  justify-content: end;
  border-left: 1px black solid;
}

p {
  margin: 8px 0;
}

.btn-blue {
  color: #303f9f;
}

.btn-red {
  color: #ad1457;
}
