<mat-card class="item" [ngClass]="{ disable: candidate.done }">
  <div class="card-content-wrapper">
  <mat-chip
    class="chip"
    [ngClass]="{
      active: candidate.active,
      disable: candidate.done
    }"
    >{{ candidate.rank }}</mat-chip
  >
  <div class="card-content">
    <mat-chip-list aria-label="Candidate rank">
    </mat-chip-list>

    <mat-card-header>
        <mat-card-title>{{ candidate.name }}</mat-card-title>
        <mat-card-subtitle
          >{{ candidate.scheduledTime }} (24 hr)</mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="isAdminCard"
          >ID: {{ candidate.id }}</mat-card-subtitle
        >
      </mat-card-header>
    
    <mat-icon 
      matTooltip="{{ delayToolTip }}"
      matTooltipPosition="above"
      matBadge="{{candidate.delay}}" 
      matBadgeColor="accent"
      *ngIf="candidate.delay"
      >{{ delayIcon }}
    </mat-icon>
    
  </div>
  
  <p *ngIf="isAdminCard">
    <b>ID:</b> {{ candidate.id }}
  </p>
</div>

  <div class="card-action">
    <button
      matTooltip="edit candidate"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      class="btn-blue"
      aria-label="Edit Schedule"
      (click)="editCandidate(candidate)"
      *ngIf="isAdminCard"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      matTooltip="delete candidate"
      matTooltipPosition="above"
      mat-icon-button
      color="accent"
      class="btn-red"
      aria-label="Delete Schedule"
      (click)="deleteCandidate(candidate.id)"
      *ngIf="isAdminCard"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <mat-checkbox
      matTooltip="interview complete"
      matTooltipPosition="above"
      color="color"
      [(ngModel)]="candidate.done"
      (change)="interviewComplete(candidate)"
      *ngIf="isAdminLiveCard"
      >Done
    </mat-checkbox>

    <button
      matTooltip="manage delay"
      matTooltipPosition="above"
      mat-icon-button
      class="btn-green"
      aria-label="Manage Delay"
      (click)="addDelay(candidate.id)"
      *ngIf="isAdminLiveCard"
    >
      <mat-icon>more_time</mat-icon>
    </button>
  </div>
</mat-card>
