.item {
  width: 300px;
  margin: 10px 0;
  z-index: 2;
}

.card-content {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.card-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.card-content-wrapper {
  display: flex;
}

.btn-blue {
  color: #303f9f;
}

.btn-red {
  color: #ad1457;
}

.btn-green {
  color: #00e676;
}

.icon-done {
  color: green;
  position: absolute;
  right: 0;
  margin: 10px;
}

.disable {
  background-color: lightgray !important;
  color: darkgray;
}

.chip {
  // left: -31px;
  background-color: white;
  // box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 20px rgb(0 0 0 / 30%);
  font-weight: bold;
  transition: background-color 5s;
  z-index: 2;
}

.active.chip {
  background-color: greenyellow !important;
}

@media (max-width: 360px) {
  .item {
    width: 300px;
    margin: 10px 0;
  }
}

.deply-plus {
  color: #ad1457;
  font-size: x-small;
  pointer-events: none;
  border: 1px solid #ad1457;
  z-index: 2;
}

.deply-minus {
  color: #00e676;
  font-size: x-small;
  pointer-events: none;
  border: 1px solid #00e676; 
  z-index: 2;
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: aquamarine;
  z-index: 1;
  opacity: 0.5;
}
